    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <%= form_for(:user, url: {action: "update"}, method: :patch, html: {:role=>'form', :class=>'fh5co-form animate-box'}) do |f| %>
              <h2>个人信息</h2>
              <div class="form-group">
                <label for="username" >用户名</label>
                <%= f.text_field :name, class: 'form-control', placeholder: @user.name  , :readOnly => true%>
              </div>
              <div class="form-group">
                <label for="useremail" >邮箱</label>
                <%= f.email_field :email, class: 'form-control', placeholder: @user.email , :readOnly => true%>
              </div>
              <div class="form-group">
                <label for="password" >密码</label>
                <%= f.password_field :password, class: 'form-control', placeholder: "******" %>
              </div>
              <div class="form-group">
                <label for="phonenumber">电话号码</label>
                <%= f.text_field :phonenumber, class: 'form-control', placeholder: @user.phonenumber %>
              </div>
              <div class="form-group">
                <%=
                  flag = true
                  if @user.sex == "female"
                    flag = false
                  end
                %>
                <label for="Sex" >性别:</label>
                <%= radio_button_tag(:sex, "male", :checked => flag) %>
                <%= label_tag(:sex_child, "男") %>
                <%= radio_button_tag(:sex, "female") %>
                <%= label_tag("女") %>
              </div>

              <div class="form-group">
                <%= button_tag(type: "submit", class: "btn btn-primary btn-block") do %>
                <span class="glyphicon glyphicon-off"></span> 保存 <% end %>
              </div>
            <% end %>


        </div>
      </div>
    </div>
